<%# BANDEAU  - REMPLACER IMAGE PAR IMAGE PROPRE A LA CATEGORIE%>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
    <h1>Add a film to the list <%= @list.name %></h1>
  </div>
<%# A FAIRE %>

<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <div class="form-group">
      <%= f.input :movie_id, collection: Movie.all, prompt:"select movie", input_html: { data: { controller: "tom-select" }}, label_html: { class: "bold-text" }%>
    </div>
    <div class="form-group">
      <%= f.input :comment, label_html: { class: "bold-text" }%>
    </div>
      <%= f.submit "Add Bookmark", class: 'btn btn-success text-white' %>
  <% end %>

  <%# , input_html: {multiple: true}, include_hidden: false %>

</div>
